@import url(https://db.onlinewebfonts.com/c/89f9d5d8d8cfe941b20f6a20f4dd99bc?family=Panoptica+W00+Script);
@tailwind base;
@tailwind components;
@tailwind utilities;


/* @font-face {
    font-family: "Panoptica W00 Script";
    src: url("https://db.onlinewebfonts.com/t/89f9d5d8d8cfe941b20f6a20f4dd99bc.eot");
    src: url("https://db.onlinewebfonts.com/t/89f9d5d8d8cfe941b20f6a20f4dd99bc.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/89f9d5d8d8cfe941b20f6a20f4dd99bc.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/89f9d5d8d8cfe941b20f6a20f4dd99bc.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/89f9d5d8d8cfe941b20f6a20f4dd99bc.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/89f9d5d8d8cfe941b20f6a20f4dd99bc.svg#Panoptica W00 Script")format("svg");
} */


*{
  
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: 1px solid red;
  /* font-family: 'Inika'; */

}
a{
  font-weight: bolder;
}


button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #d6cfcf;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}


.active{
  color: aqua;
}